/* Default (Light Mode) Styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f8ff;
  color: #333;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #0073e6;
  padding: 10px;
  text-align: center;
  background: linear-gradient(45deg, #0073e6, #00d4ff);
}

header h1 {
  font-size: 2.5rem;
}

header p {
  font-size: 1.2rem;
}

nav {
  background-color: #333;
  padding: 10px;
  text-align: center;
  position: relative; /* To allow absolute positioning of the button */
  display: flex;
  justify-content: center; /* Center the links */
  align-items: center;
}

/* Styling for navigation links */
nav a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
  font-size: 1.1rem;
}

nav a:hover {
  color: #ffb400;
}


section {
  padding: 40px;
  text-align: center;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
  padding: 10px 20px;
  background-color: #0073e6;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #00d4ff;
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

footer {
  background-color: #007acc;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: linear-gradient(45deg, #0073e6, #00d4ff);
}

.timeline {
  position: relative;
  max-width: 900px;
  margin: 20px auto;
}

.timeline-entry {
  opacity: 0;
  position: relative;
  padding: 20px;
}

/* Dark Mode Styles */
body.dark-mode {
  background-color: #121212;
  color: #f0f8ff;
}

header.dark-mode {
  background: linear-gradient(45deg, #333, #555);
}

nav.dark-mode {
  background-color: #222;
}

nav a.dark-mode {
  color: #f0f8ff;
}

nav a.dark-mode:hover {
  color: #00d4ff;
}

.container.dark-mode {
  background-color: #333;
}

footer.dark-mode {
  background: linear-gradient(45deg, #333, #555);
}

button.dark-mode {
  background-color: #555;
}

button.dark-mode:hover {
  background-color: #333;
}

#themeToggle {
  position: absolute;
  right: 10px; /* Align it to the right of the nav bar */
  background: none;
  border: none;
  cursor: pointer;
}

#themeToggle img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease;
}

#themeToggle img:hover {
  transform: scale(1.1); /* Slight zoom effect on hover */
}


nav .nav-button {
  margin-left: auto; /* Pushes the button to the right */
}
